<header>
    <nav id="navbar">
        <div class="nav-header">
            <a href="./index-en.html"><img src="./assets/images/logo-lukas-rozado.webp" alt="Lukas Rozado Logo"></a>
            <div id="menu-toggle" class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul>
            <li><a href="./index-en.html">Home</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="./writing/">Writing</a></li>
            <li><a href="./contact-en.html">Contact</a></li>
            <li><a class="lang-switch" href="./index.html" hreflang="pt-BR" data-lang="pt" lang="pt-BR">PT</a></li>
        </ul>
    </nav>
</header>