<header>
    <nav id="navbar">
        <div class="nav-header">
            <a href="./"><img src="./assets/images/logo-lukas-rozado.webp" alt="Lukas Rozado Logo" width="1120" height="1120"></a>
            <div id="menu-toggle" class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul>
            <li><a href="./">Início</a></li>
            <li><a href="./projects/">Projetos</a></li>
            <li><a href="./writing/">Escritos</a></li>
            <li><a href="./about">Sobre</a></li>
            <li><a href="./faq">FAQ</a></li>
            <li><a href="./contact">Contato</a></li>
            <li><a class="lang-switch" href="./index-en" hreflang="en" data-lang="en" lang="en">EN</a></li>
        </ul>
    </nav>
</header>