<section id="projects">
    <div class="projects-header">
        <h2 id="projects-heading">Projetos</h2> 
        <p id="project-count" class="project-counter">Mostrando todos os projetos</p>
    </div>
    
    <div class="filters">
        <button class="filter-btn active" data-filter="all">All</button>
        <button class="filter-btn" data-filter="python">Python</button>
        <button class="filter-btn" data-filter="sql">SQL</button>
        <button class="filter-btn" data-filter="sql">Azure</button>
        <button class="filter-btn" data-filter="machine-learning">Machine Learning</button>
    </div>

    <div class="projects-grid">
    </div>
</section>
